<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>490337135247-oicc8s0tqa9mi67u66m8lqh0f23glv3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490337135247-oicc8s0tqa9mi67u66m8lqh0f23glv3f</string>
	<key>API_KEY</key>
	<string>AIzaSyC1wUxWJX4Uz4xuHABQuQVPKvR1eUbHB2E</string>
	<key>GCM_SENDER_ID</key>
	<string>490337135247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.nitikorn.iTopic</string>
	<key>PROJECT_ID</key>
	<string>itopic-be1b4</string>
	<key>STORAGE_BUCKET</key>
	<string>itopic-be1b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:490337135247:ios:666abb919163ee5e</string>
	<key>DATABASE_URL</key>
	<string>https://itopic-be1b4.firebaseio.com</string>
</dict>
</plist>